<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{siteName}</h1>
        <p class="lead text-muted">
            Better than WHSmith and Waterstones.
        </p>
    </div>
</section>

<div class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h3 class="text-center">Site Under Construction</h3>
        <div class="col d-flex justify-content-center text-center">
            <p>Oops, it would appear that we are under construction.<br>Please come back later.</p>
        </div>
    </div>
</div>

