<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">{siteName}</h1>
        <p class="lead text-muted">
            Better than WHSmith and Waterstones.
        </p>
    </div>
</section>

<div class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        <h3 class="text-center">User Registration</h3><div class="text-center">{notif}</div>
        <div class="col d-flex justify-content-center">
            <form method="post">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" name="firstName" class="form-control" id="firstName" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="strEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="strPassword" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

